body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f5f9;
}

.admin-wrapper {
    display: flex;
    min-height: 100vh;
}

.breadcrumbs {
    margin-bottom: 20px;
    font-size: 15px;
}

.breadcrumbs a {
    color: #2563eb;
    text-decoration: none;
    margin-right: 5px;
}
.breadcrumbs a:hover {
    text-decoration: underline;
}
.sidebar {
    width: 210px;
    background: #1e293b;
    color: #fff;
    padding: 25px 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 14px;
    margin-bottom: 8px;
    color: #cbd5e1;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;
    font-size: 14px;
}

.sidebar a:hover {
    background: #334155;
    color: #fff;
}

.sidebar a.active {
    background: #3b82f6;
    color: #fff;
}

.sidebar .logout {
    margin-top: 20px;
    color: #f87171;
}

.admin-container {
margin-left: 250px;
    width: calc(100% - 250px);
    padding: 30px 40px;
}

.page-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 24px;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.info-row strong {
    width: 140px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
.product {
    display: flex;
    align-items: center;
    /* căn giữa theo chiều dọc */
    gap: 10px;
    /* khoảng cách ảnh - text */
}

.product img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    background: #f7f7f7;
    border-radius: 8px;
    padding: 6px;
}
th{padding: 12px 14px;
    border-bottom: 1px solid #e5e7eb;
    text-align: center;}
td {
    padding: 12px 14px;
    border-bottom: 1px solid #e5e7eb;
    text-align: center;
    vertical-align: middle;
}

th {
    background: #f8fafc;
}



.total {
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 50px;
}

.status-badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    /* 👈 bo tròn */
    font-size: 13px;
    font-weight: 500;
}

/* màu */
.status-gray {
    background: #e5e7eb;
    color: #374151;
}

.status-green {
    background: #dcfce7;
    color: #166534;
}

.status-orange {
    background: #ffedd5;
    color: #9a3412;
}

.status-blue {
    background: #dbeafe;
    color: #1e40af;
}

.status-red {
    background: #fee2e2;
    color: #991b1b;
}


.btn {
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.btn-save {
    background: #2563eb;
    color: #fff;
}

.btn-back {
    display: inline-block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #2563eb;
}